* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --background: black;
    --background-game: #537636;
    --buttons: #315f0c;
}

body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.back-elements {
    position: absolute;
    width: auto;
    height: 50px;
    background-color: blueviolet;   
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-container #game {
    border-radius: 5px;
    border: solid 2px;
    margin: 10px;
    background-color: var(--background-game);
}
button {
    background-color: var(--buttons);
    margin: 10px;
    border: none;
    padding: 5px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
}
.buttons {
    display: flex;
    padding: 5px;
}
.star-restart {
    flex-direction: column;
}

.messages {
    width: auto;
    height: auto;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 139, 53);
    border-radius: 10px;

}

.messages p {
    width: 300px;
    padding-left: 5px;
    font-weight: 15px; 
}

